
@model AerConnect.Models.View_Model.SearchPassengerViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Pretraga putnika</h2>
<hr />
@using (Ajax.BeginForm("SearchList", "Passenger", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "searchResults" }))
{
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(j => j.search.BrojPasosa)
            @Html.TextBoxFor(j => j.search.BrojPasosa, new { @class = "form-control", style = "width:300px" })
        </div>

        <div class="form-group">
            @Html.LabelFor(j => j.search.Ime)
            @Html.TextBoxFor(j => j.search.Ime, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(j => j.search.Prezime)
            @Html.TextBoxFor(j => j.search.Prezime, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(j => j.search.BrojTelefona)
            @Html.TextBoxFor(j => j.search.BrojTelefona, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(j => j.search.Email)
            @Html.TextBoxFor(j => j.search.Email, new { @class = "form-control" })
        </div>

        <div>
            <br />
        </div>
        <input type="submit" class="btn btn-success" name="Submit" value="Pretraži" />



    </div>
    <div id="searchResults" class="col-md-8"></div>
    




}


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
