@model  IEnumerable<AerConnect.Models.Let>

@{
    ViewBag.Title = "SviLetovi";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //layout koriscenje
}

<h2>Svi Letovi</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SifraLeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinacijaOd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinacijaDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPolaska)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPovratka)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SifraLeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinacijaOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinacijaDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPolaska)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPovratka)
            </td>
            <td>
              
                @Html.ActionLink("Rezervisi Kartu", "Rezervacija", "Reservation", new { id = item.SifraLeta }, null)
            </td>
        </tr>
    }
</table>
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<div id="chartdiv"></div>
<link href="@Url.Content("~/Content/ShowFlights.css")" rel="stylesheet" type="text/css" />
<!-- Example Javascript Reference -->
<script src="@Url.Content("~/Scripts/SviLetovi.js")"></script>

