@model AerConnect.Models.CheckIn

@{
    ViewBag.Title = "IzmeniCheckIn";
    var novoVreme = DateTime.Now.ToString("h: mm:ss tt");
}

<h2>IzmeniCheckIn</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>CheckIn</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.BrojCheckIn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BrojCheckIn, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.BrojCheckIn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SifraRezervacije, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SifraRezervacije, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.SifraRezervacije, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BrojPasosa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BrojPasosa, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.BrojPasosa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Vreme, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Vreme, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Vreme, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Novo vreme", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => novoVreme, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
            @Html.ValidationMessageFor(model => novoVreme, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
