@model IEnumerable<AerConnect.Models.CheckIn>

@{
    ViewBag.Title = "SviCheckIn";
}

<h2>SviCheckIn</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrojCheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SifraRezervacije)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojPasosa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vreme)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrojCheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SifraRezervacije)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrojPasosa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vreme)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "IzmeniCheckIn", new {  id=item.BrojCheckIn  }) |
           
            @Html.ActionLink("Otkaži", "Otkazi", new {  id=item.BrojCheckIn  })
        </td>
    </tr>
}

</table>
