@model AerConnect.Models.Rezervacija

@{
    ViewBag.Title = "Rezervacija";
}

<h2>Rezervacija</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rezervacija</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.BrojPasosa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BrojPasosa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BrojPasosa, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izvrsite rezervaciju" class="btn btn-default" />
              
               

            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Rezervisi Kartu za kucnog ljubimca", "RezervacijaLjubimac", "Reservation")
        <br />
        @Html.ActionLink("Vratite se na prikaz svih letova", "SviLetovi", "Flight")
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}