@model  IEnumerable<AerConnect.Models.Rezervacija>
@{
    ViewBag.Title = "SveRezervacijeKorisnik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sve Rezervacije</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SifraRezervacije)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SifraLeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vreme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojPasosa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojCipa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SifraRezervacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SifraLeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vreme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojPasosa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojCipa)
            </td>
           
        </tr>
        <div id="routeInfo"></div>

        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="@Url.Content("~/Scripts/ErrorLoading.js")"></script>
        <script src="https://unpkg.com/topojson-client@3.0.0/dist/topojson-client.min.js"></script>
        <script src="https://unpkg.com/topojson-simplify@3.0.2/dist/topojson-simplify.min.js"></script>
        <script src="https://unpkg.com/geodesy@1.1.3/latlon-spherical.js"></script>
    }
